.country-card {
    height: 20vh;
    background-color: aquamarine;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

.country-info {
    width: 48%;
    margin: auto;
}

.country-info img {
    width: 95%;
}

.country-info h2 {
    font-size: 1.2rem;
}

.country-info p {
    font-size: 0.8rem;
}